<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Message Creator</h1>
    <p>Lets decide what message were going to send...</p>

    <p>Paste the bio below and I'll help you respond</p>
    <form action="/postPrompt" method="POST">
        <label for="personName">Friend Name</label>
        <input type="text" name="personName">
        
        <label for="company">Company Name</label>
        <input type="text" name="company">

       

        <textarea cols="100" rows="20" name="prompt" id="promptInput"></textarea>

        <button type="submit">Generate</button>
    </form>

    
        <div>
            <p>Results</p>
            <ul class="resultct">
                <% for(i=0;i<myResults.length;i++){ %>
                    <li class="eachresult">
                        <p><span class="name"><%=myResults[i].name%></span> from <span class="company"><%=myResults[i].company%></span> </p>
                        <p>Response options:</p>
                        <div class="professional">
                            <p><%=myResults[i].professional%></p>
                        </div>
                        <div  class="witty">
                            <p><%=myResults[i].witty%></p>
                        </div>
                        <div class="funny">
                            <p ><%=myResults[i].funny%></p>
                        </div>
                        
                       
                       
                    </li>
                
                
               <% } %>
            </ul>
        </div>
   

    
    
</body>
</html>